page-list-items {

}
.vert{
  vertical-align: bottom;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
}
.align-right{
  float:right;
  padding: 0px; 
}