.StartPage {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
}
.font-size{
    font-size: 15px;
}
.smallButton{
    width: 40px
}
.padding{
    padding-bottom: 30px;
}
.size{
    margin:10%;
    max-width: 30% !important;
    max-height: 70% !important;
    font-size: 300px;
}
.invis{
    background-color: #ffffff;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
.buttonCenter{
    text-center:center;
}
.button-font{
    font-family: 'Comic Neue', sans-serif;

}
.lato{
    font-family: 'lato';
    color: 	#C0C0C0;
}
.helv{
    font-family: "Helvetica Neue";
}
.buttonStyle{
    font-size: 14px;
}
.button-size{
    width: 60%;
    vertical-align: bottom;
}
.paddingtext{
    padding-top: 100px;
}
.butpad{
    padding-top: 100px;
    padding-bottom: 100px;
    
}