.page-grocery-list-header {

  .title-text {
    margin-top: 25px;
  }

  .add-list-button {
    float: right;
  }

  h3 {
    // color: white;
  }

  .title-block {
    // background-color: green;
  }

}

.page-grocery-list-content {

  .heesuk {
    border: 1px solid black;
  }
}
