<!--
  Generated template for the GroceryList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <div *ngFor="let user of loggedInUserInfo" >
      <button ion-button menuToggle class= "ham" class="align-left"> 
        <ion-icon name="menu"></ion-icon>
      </button>
      <span class="vert" >
        {{ user.firstName }} {{user.lastName}}'s Lists
      </span> 
      <span class="align-right">
      <button ion-button outline small color="blue" (click)="add()"> 
        <ion-icon name="add"></ion-icon>
      </button>
      </span>
    </div>
    <!-- <button ion-button class='add-button' (click)="add()" color="light" round>
      <ion-icon name="md-add-circle"></ion-icon>
    </button>
  Create a button for '+' : when click this button, execute add() function: defined it in grocery-list.ts -->
  </ion-navbar>

</ion-header>


<ion-content padding class="content-text" class="page-grocery-list-content">
  <!-- <h2>Grocery List</h2> -->

  <!-- Create a 'searchBar' -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="filterItems($event.target.value)">
  </ion-searchbar>

<!-- 1) nav setup: create a loop -> navigate each list to the corresponding list-items page
when click a list.name (execute listSelected function which is defined in grocery-list.ts)  -->
<!--  Gestures from http://ionicframework.com/docs/components/#fabs
      press is long hold, > 500ms  (.5 seconds)
      tap is short click, < 250ms  (.25 seconds)
 -->
  <ion-list color="blue" padding class="heesuk">
      <button ion-item *ngFor="let groceryList of groceryLists"
              (press)="presentPopover(groceryList)" (tap)="listSelected(groceryList)">
        <h2>{{ groceryList.name }}</h2>
        <!-- <p>{{ item.state }}</p> -->
        <!-- <p>{{ item.user }}</p> -->
      </button>
  </ion-list>
</ion-content>
