.page-grocery-list-header {

  .title-text {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .content-text{
    margin-top: 100px;
  }

  .add-list-button {
    float: right;
  }

  h3 {
    // color: white;
  }

  .title-block {
    // background-color: green;
  }
.item .row, .item .col {
  padding: 0;
}
}
.align-left{
  float: left;
}
.align-right{
  float:right;
  padding: 0px; 
}
.vert{
  vertical-align: bottom;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
}
.ham{
  color: #ffffff;
}
.page-grocery-list-content {

  .heesuk {
    // border: 1px solid black;
  }
}
