.page-grocery-list-header {

  .title-text {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .content-text{
    margin-top: 100px;
  }

  .add-list-button {
    float: right;
    vertical-align: middle;
  }

  h3 {
    // color: white;
  }

  .title-block {
    // background-color: green;
  }

}
.align-left{
  float: left;
}
.page-grocery-list-content {

  .heesuk {
    // border: 1px solid black;
  }
}
